.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 40vh;

  padding: 15px;
  border: 2px solid #000;
  border-radius: 10px;
}

.inputContainer {
  margin-bottom: 15px;
}
