.link {
  display: inline-block;
  text-decoration: none;
  padding: 3px 8px;
  font-weight: 500;
  color: #000;
  font-size: 20px;
}

.link:first-child {
  margin-right: 15px;
}

.link:hover {
  border-bottom: 2px solid #000;
}

.activeLink {
  border-bottom: 2px solid #000;
}
